<div class="row bg-white">
  <div *ngIf="loading" class="col-12 mt-5 text-center">
    <i class="fas fa-spin fa-spinner text-dark fa-5x"></i>
  </div>
  <ng-container *ngIf="!loading && appInfo">
    <div class="col-12 bg-dark text-center">
      <a [href]="appInfo.url" target="blank">
        <img class="mt-3" [src]="appInfo.icon" height="200px">
      </a>
      <h2 class="text-white mt-2">{{appInfo.title}}</h2>
      <h6 class="text-white">App analysis by: </h6>
      <h5 class="mb-3 mt-0 text-white"><a class="text-white font-weight-bold" href="https://a-garcia13.github.io/"
          target="blank">Alejandro
          García</a> & <a class="text-white font-weight-bold" href="https://gabrielpinto.me" target="blank">Gabriel
          Pinto</a></h5>
    </div>
    <div class="col-md-8 col-10 mx-auto text-center">
      <h5 class="mt-4 mb-3">
        <i>{{appInfo.summary}}</i>
      </h5>
      <button class="btn btn-dark shadow mb-4" data-toggle="modal" data-target="#appDescriptionModal"><i
          class="fas fa-plus"></i>&nbsp;See more</button>
    </div>
    <div class="col-12 bg-dark">
      <div class="row text-center text-white">
        <div class="col-md-4 mt-4 mb-4">
          <h1>{{appInfo.scoreText}}</h1>
          <h4><i class="fas fa-star"></i>&nbsp;STARS</h4>
        </div>
        <div class="col-md-4 mt-4 mb-4">
          <h1>{{appInfo.installs}}</h1>
          <h4><i class="fas fa-download"></i>&nbsp;INSTALLS</h4>
        </div>
        <div class="col-md-4 mt-4 mb-4">
          <h1>{{appInfo.ratings}}</h1>
          <h4><i class="fas fa-user"></i>&nbsp;RATINGS</h4>
        </div>
      </div>
    </div>

    <div class="col-12 text-center">
      <div class="row">
        <div class="col-12 mt-4">
          <h2 class="mt-0 mb-0">Eventual Connectivity management analysis
          </h2>
        </div>
        <div class="col-8 mx-auto">
          <hr class="bg-dark">
        </div>
        <div class="col-12 mb-3">
          <h3>Implementations</h3>
        </div>
        <div class="col-10 mx-auto" *ngIf="connectivityImplementation === 1">
          <div class="card shadow border-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=1f4ekGVLVUE7-XH_XulpendP2iV-AqhLL" alt="">
            <hr class="bg-dark w-50 mx-auto" />
            <p class="mt-2">Permission for knowing the network state is declared on the AndroidManifest</p>
          </div>
        </div>
        <div class="col-10 mx-auto" *ngIf="connectivityImplementation === 2">
          <div class="card shadow border-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=14TpGPn4raqUH6e270k_fC6LkziRxqKex" alt="">
            <hr class="bg-dark w-50 mx-auto" />
            <p>Use of the Connectivity Manager to know the network status</p>
          </div>
        </div>
        <div class="col-10 mx-auto" *ngIf="connectivityImplementation === 3">
          <div class="card shadow border-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=1T9Taul-aS8VqEvH4EB6F6PGHBeNZ2oNb" alt="">
            <hr class="bg-dark w-50 mx-auto" />
            <p>Automatic check of the network state for showing internet error top bar</p>
          </div>
        </div>
        <div class="col-10 mx-auto" *ngIf="connectivityImplementation === 4">
          <div class="card shadow border-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=1MJHFZ_H6obdwFrSUwk_6r-ZV79BjkTsH" alt="">

            <hr class="bg-dark w-50 mx-auto" />
            <p>Display of alert dialogs and states in messages based on connection</p>
          </div>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-dark m-4 shadow-none" *ngIf="connectivityImplementation > 1"
            (click)="changeConnectivity(connectivityImplementation - 1)"><i class="fas fa-chevron-left"></i></button>
        </div>
        <div class="col-6 text-left">
          <button class="btn btn-dark m-4 shadow-none" *ngIf="connectivityImplementation < connectivityImplementations"
            (click)="changeConnectivity(connectivityImplementation + 1)"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>

    </div>

    <div class="col-12 bg-dark text-center text-white">
      <div class="row row-middle">
        <div class="col-12 mt-4 mb-3">
          <h2 class="mt-0 mb-0">Storage strategies analysis
          </h2>
        </div>
        <div class="col-8 mx-auto">
          <hr class="bg-white">
        </div>
        <div class="col-12 mb-3">
          <h3>Implementations</h3>
        </div>
        <div class="col-10 mx-auto" *ngIf="storageImplementation === 1">
          <div class="card shadow border-white bg-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=1eQ4OsdNhaG_-uzSTIGXjfZmoPQVbdfYY" alt="">
            <hr class="bg-white w-50 mx-auto" />
            <p class="mt-2">Direct use of Shared preferences using a PreferenceManager</p>
          </div>
        </div>
        <div class="col-10 mx-auto" *ngIf="storageImplementation === 2">
          <div class="card shadow border-white bg-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=1ry2efoYlBLUZI3VSOG90eVsuXRqQspSz" alt="">
            <hr class="bg-white w-50 mx-auto" />
            <p>Backend configurations are saved on Shared Preferences</p>
          </div>
        </div>
        <div class="col-10 mx-auto" *ngIf="storageImplementation === 3">
          <div class="card shadow border-white bg-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=1HjgGwJo-nZOq60WV7tPn9mdyH1KNouPQ" alt="">
            <hr class="bg-white w-50 mx-auto" />
            <p>Some hardcoded strings, but some others based on the build</p>
          </div>
        </div>
        <div class="col-10 mx-auto" *ngIf="storageImplementation === 4">
          <div class="card shadow border-white bg-dark">
            <img class="mt-3 img-fluid mx-auto w-75"
              src="https://drive.google.com/uc?id=10yxzBo69tYOMrydJvjLmrHJXGG_Z-PGW" alt="">
            <hr class="bg-white w-50 mx-auto" />
            <p>Multiple usages of caching techniques based on <a
                href="https://github.com/wireapp/wire-android-sync-engine" target="blank">ZMessaging</a> dependency</p>
          </div>
        </div>
        <div class="col-6 text-right">
          <button class="btn btn-light m-4 shadow-none" *ngIf="storageImplementation > 1"
            (click)="changeStorage(storageImplementation - 1)"><i class="fas fa-chevron-left"></i></button>
        </div>
        <div class="col-6 text-left">
          <button class="btn btn-light m-4 shadow-none" *ngIf="storageImplementation < storageImplementations"
            (click)="changeStorage(storageImplementation + 1)"><i class="fas fa-chevron-right"></i></button>
        </div>
      </div>
    </div>


    <div class="col-12 text-center">
      <div class="row">
        <div class="col-12 mt-4 mb-3">
          <h2 class="mt-0 mb-0">We might solve an issue!!&nbsp;<ngx-emoji emoji='muscle' set='emojione'></ngx-emoji>
          </h2>
        </div>
        <div class="col-lg-6 text-center">
          <h3 class="mb-3">The issue</h3>
          <iframe class="shadow-lg" width="560" height="315" src="https://www.youtube.com/embed/cQr-TP7LxB4"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <br />
          <br />
        </div>
        <div class="col-lg-6 text-center">
          <h3 class="mb-3">The fix</h3>
          <iframe class="shadow-lg" width="560" height="315" src="https://www.youtube.com/embed/JcW0lVw7aww"
            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <br />
          <br />
        </div>
        <div class="col-10 mx-auto mt-3 mb-4">
          <h3>The veredict</h3>
          <img src="https://drive.google.com/uc?id=1JZ1B54J05z4Wos9gsqW68LWqrWX1ioZk" alt="Pull request"
            class="img-fluid">
          <h5 class="mt-2">We are still waiting for a response, but we hope it will be accepted. You can follow
            the PR <a href="https://github.com/wireapp/wire-android/pull/2122" target="blank">here</a></h5>
        </div>
      </div>

    </div>

    <div class="col-12 bg-dark text-center text-white">
      <div class="row row-middle">
        <div class="col-12 mt-4 mb-3">
          <h2 class="mt-0 mb-0">We are part of the <a href="https://crowdin.com/project/wire-android/es-ES#"
              target="blank" class="text-white">CrowndIn Wire Project</a>&nbsp;<ngx-emoji emoji='handshake'
              set='emojione'></ngx-emoji>
          </h2>
        </div>
        <div class="col-12 mt-2 mb-4">
          <a href="https://crowdin.com/project/wire-android/es-ES#" target="blank">
            <img class="img-fluid shadow rounded" width="120px"
              src="https://drive.google.com/uc?id=1pZMqktXFyIt6yHot-4gorDfh2AGWbXbV" alt="">
          </a>
        </div>
        <div class="col-lg-6 col-md-10 col-12 mx-auto text-justify mb-4">
          <p class="mr-4 ml-4">As spanish native speakers we decided to make part of the project that is looking to
            correctly translate
            all
            the different texts of the official Wire Android Application from English to Spanish.
          </p>
          <p class="mr-4 ml-4">We have already began
            working on the project and <b>have already suggested more than 35 translations.</b> Our efforts have helped
            the
            translation to <b>reach the 80%</b> of total completition.
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade" id="appDescriptionModal" tabindex="-1" role="dialog" aria-labelledby="appDescriptionModalLabel"
  aria-hidden="true">
  <div *ngIf="appInfo" class="modal-dialog modal-lg" role="document">
    <div class="modal-content border-0">
      <div class="modal-header bg-dark">
        <h5 class="modal-title text-white" id="appDescriptionModalLabel">App description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="text-white fas fa-times"></i>
        </button>
      </div>
      <div class="modal-body small" [innerHTML]="appInfo.descriptionHTML">
      </div>
      <div class="modal-footer bg-dark text-center">
        <button class="btn btn-dark border border-white shadow mx-auto" data-dismiss="modal"><i
            class="fas fa-times"></i>&nbsp;Close</button>
      </div>
    </div>
  </div>
</div>
